<section [hidden]="!hiddenCamera"fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="openCamera()">Continuar</button>
  <input id="capture" type ="file" accept="image/*" capture />
</section>
<section *ngIf="stream">
  <h3>OS: {{stream.os}}</h3>
  <h4>Browser: {{stream.browser}}</h4>
  <h5>Resolucion: {{stream.resolution}}</h5>
  <h5>Ratio: {{stream.ratio}}</h5>
  <h5>Tamaño: {{stream.size}}</h5>
  <img [src]="stream.data" width="300px" height="250px"/>
</section>
<app-camera [hidden]="hiddenCamera" #appCamera (capture)="loadCaptureStream($event)"></app-camera>